ion-list {
  background: transparent !important;
}

ion-content {
  --background: var(--ion-color-light);
}

ion-item {
  --background: transparent;
  --padding-start: 8px;
  --padding-end: 0px;
  --ion-safe-area-left: 0px;
  --min-height: 32px;
  --border-width: 0;
  ion-label {
    position: relative;
    border-radius: 12px;
    padding: 4px 8px;
    margin-top: 12px;
    max-width: 70%;
    ion-text {
      font-size: 0.9rem;
      font-weight: 400;
      &:after{
        content: '';
        width: 52px;
        height: 12px;
        display: inline-block;
        vertical-align: top;
        visibility: hidden;
        font-size: 0.75rem;
      }
    }
    ion-note {
      position: absolute;
      display: flex;
      right: 0;
      bottom: 0;
      padding: 4px 8px 4px 4px;
      line-height: 16px;
      pointer-events: auto;
      color: var(--ion-color-medium);
    }
  }
}
.user {
  &::after{
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid var(--ion-color-primary); 
    border-radius: 20px 0 0;
    width: 15px;
    height: 30px;
    transform: rotate(-112deg);
    bottom: -3px;
    right: 7px;
  }
  ion-label {
    margin-right: 8px;
    background-color: var(--ion-color-primary);
    color: white;
    ion-note {
      small {
        margin-left: 2px;
      }
      ion-icon {
        font-size: 16px;
        color: white;
      }
    }
  }
}

.sender {
  &::after{
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 0px;
    border-top: 9px solid var(--ion-color-light);
    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(112deg);
    bottom: -9px;
    left: -4px;
  }
  ion-label {
    margin-left: 8px;
    background-color: var(--ion-color-light);
    ion-text {
      &:after{
        width: 72px !important;
      }
    }
    ion-note {
      small{
        margin-right: 2px;
        line-height: 16px;
      }
      ion-icon {
        font-size: 16px;
      }
    }
  }
}
