ion-content {
  --background: url('/assets/imgs/flower.jpg') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
//   padding-top: 10vh;
  height: 100%;
}

ion-card {
  margin: auto;
  margin-top: 10vh;
  width: 90%;
  max-width: 400px; /* Biar di desktop nggak melebar */
  border-radius: 20px;
  padding: 20px;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
}

.lock {
  font-size: 5rem;
  ion-icon {
    color: #4E0894;
  }
}

ion-item {
  --background: transparent;
  --border-radius: 10px;
}

ion-input,
.fwd {
  font-size: 0.9rem;
}

.submit {
  margin-top: 2rem;
  ion-button {
    --background: linear-gradient(to right, #B006D0, #4E0894);
    --border-radius: 10px;
  }
  ion-text {
    font-size: 1rem;
  }
}
