#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.input{
  width: 90%;
  max-width: 250px;
  margin: auto;
}
.button{
  width: 90%;
  max-width: 250px;
  margin: 0 auto;
}